{% extends "base.html" %}

{% block title %} Request Meta {% endblock %}

{% block header %}
<style>
    .container {
      height: 100%;
    }
</style>
{% endblock %}


{% block content %}
  <div class="index">
    <div class="logo">
      <img src="/static/logo.png"/>
    </div>
    <div class="mid">
      <div class="create">
        <p>:) Hello, RequestMeta is a WebHook debugging tool. You can create a connection for testing. After creating a connection, you can access the specified URL through browser, cURL, programming code, RequestMeta will save all the requested data for you, you can look back All call meta information. </p>
        <div class="button" onclick="createNamespace()">✚ Get Listener URL  </div>
      </div>
      <div class="history">
        <div style="font-weight: bold;">░ History</div>
        <div id="historys">none</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <script>
    function uuid4hex() {
        const ho = (n, p) => n.toString(16).padStart(p, 0);
        const view = new DataView(new ArrayBuffer(16));
        crypto.getRandomValues(new Uint8Array(view.buffer));
        view.setUint8(6, (view.getUint8(6) & 0xf) | 0x40); 
        view.setUint8(8, (view.getUint8(8) & 0x3f) | 0x80);
        return `${ho(view.getUint32(0), 8)}${ho(view.getUint16(4), 4)}${ho(view.getUint16(6), 4)}${ho(view.getUint16(8), 4)}${ho(view.getUint32(10), 8)}${ho(view.getUint16(14), 4)}`; /// Compile the canonical textual form from the array data
    }

    var store = {
      fetch: function () {
        return JSON.parse(
          localStorage.getItem('namespaces') || '[]'
        )
      },

      save: function (data) {
        return localStorage.setItem('namespaces', JSON.stringify(data))
      }
    }

    function createHistory () {
      var historys = store.fetch()

      $('#historys').html("");

      if (historys.length === 0) {
        $('#historys').html('<div class="meta"> :( no history, &nbsp;Please create a Listener URL</div>');
      } else {
        $('#historys').html('<div class="meta"> Keep the most recent 10 Listeners URLs at most.</div>');
      }

      historys.forEach((history) => {
        var $items = $('<a class="item" href="/' + history + '/inspect">' + history +  '</a>');

        $('#historys').append($items)
      })
    }
  
    function createNamespace () {
      var uuid = uuid4hex()
      var historyNamespaces = store.fetch()

      historyNamespaces.unshift(uuid)

      store.save(historyNamespaces.slice(0, 10))

      createHistory()

      window.location = "/" + uuid + '/inspect'
    }

    createHistory()
  </script>
{% endblock %}
